#linked-in-popup{
  background: #b5b5b5;
  position: fixed;
  z-index: 2;
/*   border: 1px solid black; */
  padding: 10px;
  padding-top: 25px;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

#linked-in-popup > .logo{
  float: left;
  margin-right: 10px;
}

#linked-in-popup img{
  height: 3rem;
}

#linked-in-popup a{
  display: flex;
  align-items: center;
}

#linked-in-popup a,
#linked-in-popup a:visited{
  color: #821c1c;
}

.close-linked-in-popup{
  position: absolute;
  top: -10px;
  right: 5px;
  height: 3rem;
  font-size: 3rem;
  line-height: 1;
}

.close-linked-in-popup:hover{
  color: #821c1c;
  cursor: pointer;
}

/*layout stuff*/
#linked-in-popup{
  bottom: 30px;
  left: 5vw;
  right: 5vw;
}

#linked-in-popup .links{
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: space-between;
  height: 150px;
}

#linked-in-popup .links a{
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #a2a2a2;
  border-right: 1px solid #a2a2a2;
}

@media (min-width: 600px){

  #linked-in-popup{
    bottom: 30px;
    width: 580px;
    left: calc(50vw - 290px);
  }
 
  #linked-in-popup .links{
    display: flex;
    flex-direction: row;
  } 
  #linked-in-popup .links a{
    flex: 1 1 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}