@charset "UTF-8";
:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #202020;
}

a {
  text-decoration: none;
}

ul, ol {
  padding-left: 20px;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

.pointer:hover {
  cursor: pointer;
}

blockquote {
  position: relative;
}

blockquote:before {
  content: "“";
  position: absolute;
  font-size: 5rem;
  color: gray;
  z-index: -1;
  top: -1.5rem;
  left: -1.5rem;
}

blockquote:after {
  content: "”";
  position: absolute;
  font-size: 5rem;
  color: gray;
  z-index: -1;
  bottom: -3.5rem;
  right: -1.5rem;
}

p {
  text-align: justify;
}

nav {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 40px;
  background: white;
  overflow: hidden;
  box-shadow: 1px 2px 2px rgba(197, 197, 197, 0.5411764706);
  top: 0;
  left: 0;
}
nav .nav__display {
  position: absolute;
  left: 40px;
  display: flex;
}
nav .nav__display ul {
  padding-left: 15px;
  width: 350px;
}
nav .nav__display li {
  list-style-type: none;
  background: white;
  height: 40px;
  font-size: 1.5rem;
  line-height: 1.65;
  display: flex;
  overflow: auto;
}
nav .nav__display .nav__display1 li:not(.no-bullet):before, nav .nav__display .nav__display2 li:not(.no-bullet):before {
  content: ">";
  padding-right: 10px;
}
nav .nav__menu {
  display: none;
  background: white;
}
nav .nav__menu ul {
  padding-left: 55px;
}
nav .nav__menu ul ul {
  padding-left: 15px;
}
nav .nav__menu li {
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.65;
  display: flex;
  flex-direction: column;
  height: inherit;
}
nav .tri-bar {
  z-index: 1;
  position: fixed;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  box-sizing: content-box;
}
nav .tri-bar .tri-bar__stripe {
  width: 100%;
  height: 4px;
  background: black;
}
nav a {
  color: unset;
}

nav.condense .nav__display0 li[scoot-id] {
  width: 0;
}
nav.condense .nav__display1 li[scoot-id] {
  width: 16px;
}

nav.up-top {
  box-shadow: none;
  background: none;
}
nav.up-top li {
  background: none;
}

nav.menu-view {
  overflow: auto;
  height: 100vh;
}
nav.menu-view .nav__display {
  display: none;
}
nav.menu-view .nav__menu {
  display: block;
  position: fixed;
  overflow: auto;
  height: 100vh;
  overscroll-behavior: contain;
  width: 100%;
  max-width: 400px;
}
@media (min-width: 400px) {
  nav.menu-view .nav__menu {
    box-shadow: 1px 2px 2px rgba(197, 197, 197, 0.5411764706);
  }
}
nav.menu-view .tri-bar {
  border: none;
}

.nav-btn {
  position: fixed;
  bottom: 20px;
  z-index: 10;
}
@media (min-width: 600px) {
  .nav-btn {
    top: 20px;
  }
}

#nav-toggle {
  right: 20px;
}
@media (min-width: 600px) {
  #nav-toggle {
    left: 100px;
  }
}

#prev-nav-btn {
  right: 100px;
}
@media (min-width: 600px) {
  #prev-nav-btn {
    left: 20px;
  }
}

#contents {
  z-index: 1;
}

.section {
  width: 100vw;
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 10vh;
  overflow: auto;
}

#imjk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#imjk #imjk-heros {
  font-size: 4rem;
}
#imjk #imjk-heros span {
  text-align: center;
  display: inline-block;
  width: 50px;
}
#imjk #imjk-heros .hidden {
  color: gray;
}
#imjk .summary {
  margin: 0 50px;
  max-width: 600px;
  line-height: 2;
}
@media (max-width: 600px) {
  #imjk .summary {
    margin: 5px;
  }
}
#imjk .summary > div:first-child {
  text-align: justify;
}
#imjk .skill-set {
  margin-top: 50px;
}
#imjk .skill-set span {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid gray;
  margin: 1px;
  font-size: 0.8rem;
}
#imjk .skill-set span:before {
  content: "# ";
}
#imjk .skill-set .inexperienced span {
  color: #b7b7b7;
  border-color: #b7b7b7;
}

.resume-files-wrap {
  display: none;
  background: black;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  top: -48px;
  left: 125px;
  box-shadow: 1px 1px 1px #b1b1b1;
}
.resume-files-wrap a {
  color: white;
  display: block;
  text-align: center;
  width: 100px;
  padding: 5px;
  border-top: 1px solid gray;
}
.resume-files-wrap a:first-child {
  border: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.resume-files-wrap a:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.resume-files-wrap:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  transform: rotate(45deg);
  top: 40px;
  left: -7px;
  z-index: -1;
}

.resume-files-wrap.open {
  display: block;
}

#resume-toggle img {
  height: 1.25rem;
  vertical-align: middle;
}

.round-boxed {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d0d0d0;
}

.section {
  padding: 5px;
  padding-top: 40px;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}
@media (min-width: 600px) {
  .section {
    padding: 10px;
  }
}
@media (min-width: 900px) {
  .section {
    padding: 0;
  }
}
.section h2, .section h3, .section h4 {
  margin-bottom: 20px;
}
.section .sub-section1 {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}
.section .sub-section1 .content {
  align-items: center;
  max-width: 500px;
}
.section .sub-section1 .small-box {
  width: 300px;
}
@media (min-width: 600px) {
  .section .sub-section1 .big-box {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
}
.section .sub-section1 .app-wrap {
  max-width: unset;
}
.section .sub-section2 {
  padding-top: 120px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section .sub-section2 iframe {
  width: calc(100vw - 50px);
  margin: auto;
  height: 100vh;
  border: none;
}

.portfolio img {
  display: block;
  max-width: 80%;
  margin: auto;
}

.basics .content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .basics .content {
    flex-direction: row;
  }
}

.about-j ul {
  list-style-type: none;
  line-height: 2;
}
.about-j li:before {
  content: ">> ";
  font-family: monospace;
  font-size: 0.625rem;
  vertical-align: text-bottom;
}

.story h3 {
  top: -45px;
  padding-top: 40px;
}
.story .events {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
@media (min-width: 600px) {
  .story .events {
    margin-top: 90px;
  }
}
@media (min-width: 900px) {
  .story .events {
    margin-top: 140px;
  }
}
.story .events .events__item {
  width: 95%;
  padding-bottom: 33vh;
  padding-left: 10px;
  border-left: 1px solid black;
}
@media (min-width: 600px) {
  .story .events .events__item {
    width: 80%;
  }
}
.story .events .events__item:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: black;
  left: -5px;
}
.story .events .events__item:last-child {
  border-left: 0;
}

.check_on_wolfram {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: gray;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 6px #b7b7b7;
}

.check_on_wolfram:active {
  box-shadow: 0px 0px #b7b7b7;
  position: relative;
  top: 6px;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
}
#links h3 {
  position: absolute;
  top: 0;
  left: 0;
}
#links .links__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
@media (min-width: 800px) {
  #links .links__wrap {
    grid-template-columns: 1fr 1fr;
  }
}
#links .links__item {
  width: 300px;
  font-size: 2rem;
  height: 80px;
  color: white;
}
#links .links__item img {
  vertical-align: middle;
  height: 80px;
}
#links .links__item:nth-child(1) {
  background: #0d76af;
}
#links .links__item:nth-child(2) {
  background: black;
}
#links .links__item:nth-child(3) {
  background: #40a8f1;
}
#links .links__item:nth-child(4) {
  background: #26b758;
}

.hidden {
  display: none;
}

li#tester {
  display: inline;
}

.btn-look {
  text-transform: uppercase;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  background: gray;
  font-size: 0.7rem;
  font-family: monospace;
  vertical-align: middle;
}

.inline {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
