.btn-look{
  text-transform: uppercase;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  background: gray;
  font-size: 0.7rem;
  font-family: monospace;
  vertical-align: middle;
}

.inline{
  display: inline;
}