#imjk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  #imjk-heros{
    font-size: 4rem;
    span{
      text-align: center;
      display: inline-block;
      width: 50px;
    }
    .hidden{
      color: gray;
    }
  }
  
  .summary{
    @media (max-width: 600px){
      margin: 5px;
    }
    margin: 0 50px;
    max-width: 600px;
    line-height: 2;
    
    >div:first-child{
      text-align: justify;
    }
    
  }
  
  .skill-set{
    margin-top: 50px;
    span{
      display: inline-block;
      padding: 0px 10px;
      border-radius: 6px;
      border: 1px solid gray;
      margin: 1px;
      font-size: 0.8rem;
    }
    span:before {
      content: '# ';
    }
    .inexperienced span{
      color: #b7b7b7;
      border-color: #b7b7b7;
    }
  }
}

.resume-files-wrap{
  display: none;
  background: black;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  top: -48px;
  left: 125px;
  box-shadow: 1px 1px 1px #b1b1b1;
  a {
    color: white;
    display: block;
    text-align: center;
    width: 100px;
    padding: 5px;
    border-top: 1px solid gray;
  }
  a:first-child{
    border: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  a:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.resume-files-wrap:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  transform: rotate(45deg);
  top: 40px; 
  left: -7px;
  z-index: -1;
}
.resume-files-wrap.open{
  display: block;
}
#resume-toggle img{
  height: 1.25rem;
  vertical-align: middle;
}

.round-boxed{
  $border-radius: 10px;
  border-radius: $border-radius;
  padding: $border-radius;
  border: 1px solid $main-color5;
}

.section{
  padding: 5px;
  padding-top: 40px;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  
  @media(min-width: $breakpoint1){
    padding: 10px;
  }
  @media(min-width: $breakpoint2){
    padding: 0;
  }
  
  h2, h3, h4{
    margin-bottom: 20px;
    
  }
  .sub-section1{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    .content{
      align-items: center;
      max-width: 500px;
    }
    .small-box{
      width: 300px;
    }
    .big-box{
      @media (min-width: $breakpoint1){
        width: 100%;
        max-width: 800px;
        margin: auto;
      }
    }
    .app-wrap{
      max-width: unset;
    }
    
  }
  
  .sub-section2{
    padding-top: 120px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    iframe{
      width: calc(100vw - 50px);
      margin: auto;
      height: 100vh;
      border: none;
    }
  }
}

.portfolio{
  img{
    display: block;
    max-width: 80%;
    margin: auto;
  }
}

.basics .content{
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint1){
    flex-direction: row;
  }
}

.about-j{
  ul {
    list-style-type: none;
    line-height: 2;
  }
  li:before {
    content: '>> ';
    font-family: monospace;
    font-size: 0.625rem;
    vertical-align: text-bottom;
  }
  
}

.story{
  h3{
    top: -45px;
    padding-top: 40px;
  }
  .events{  
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    @media(min-width: 600px){
      margin-top: 90px;
    }
    @media(min-width: 900px){
      margin-top: 140px;
    }
    .events__item {
      width: 95%;
      padding-bottom: 33vh;
      padding-left: 10px;
      border-left: 1px solid black;
      @media(min-width: 600px){
        width: 80%;
      }
      div{
        // top: -5px;
      }
    }
    .events__item:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: black;
      left: -5px;
    }
    .events__item:last-child{
      border-left: 0;
    }
  }
}

.check_on_wolfram {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: gray;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 6px #b7b7b7;
}
.check_on_wolfram:active{
  box-shadow: 0px 0px #b7b7b7;
  position: relative;
  top: 6px;
}

#links{
  display: flex;
  align-items: center;
  justify-content: center;
  h3{
    position: absolute;
    top: 0;
    left: 0;
  }
  .links__wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @media(min-width: 800px){
      grid-template-columns: 1fr 1fr;
    }
  }
  .links__item{
    width: 300px;
    font-size: 2rem;
    height: 80px;
    color: white;
    img{
      vertical-align: middle;
      height: 80px;
    }
    span{
      
    }
  }
  .links__item:nth-child(1){ background: #0d76af; }
  .links__item:nth-child(2){ background: black; }
  .links__item:nth-child(3){ background: #40a8f1; }
  .links__item:nth-child(4){ background: #26b758; }
}

.hidden{
  display: none;
}

li#tester{
  display: inline;
}