
// h1, h2, h3{
//   position: absolute;
//   top: 5px;
//   left: 5px;
//   z-index: 1;
//   overflow: hidden;

//   @media(min-width: 600px){
//     top: 50px;
//     left: 50px;
//   }
//   @media(min-width: 900px){
//     top: 100px;
//     left: 100px;
//   }
// }

.nav-btn{
  position: fixed;
  bottom: 20px;
  z-index: 10;
  @media (min-width: $breakpoint1){
    top: 20px;
  }
}
#nav-toggle{ 
  right: 20px; 
  @media (min-width: $breakpoint1){
    left: 100px; 
  }
}
#prev-nav-btn{ 
  right: 100px; 
  @media (min-width: $breakpoint1){
    left: 20px; 
  }
  
}

nav{
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100vh;
  @media (min-width: $breakpoint1){
    padding-top: 100px;
    width: 250px;
  }
  @media(min-width: $breakpoint2){
    
  }
  .main-nav, .section-nav{
    height: 100%;
  }
}

#contents{
  z-index: 1;
}

.section{
  width: 100vw;
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 10vh;
  overflow: auto;
}