.nav-btn{
  position: fixed;
  bottom: 20px;
  z-index: 10;
  @media (min-width: $breakpoint1){
    top: 20px;
  }
}
#nav-toggle{ 
  right: 20px; 
  @media (min-width: $breakpoint1){
    left: 100px; 
  }
}
#prev-nav-btn{ 
  right: 100px; 
  @media (min-width: $breakpoint1){
    left: 20px; 
  }
  
}

#contents{
  z-index: 1;
}

.section{
  width: 100vw;
  max-width: 100%;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 10vh;
  overflow: auto;
}