
nav {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 40px;
  background: white;
  overflow: hidden;
  box-shadow: 1px 2px 2px rgba(197, 197, 197, 0.5411764706);
  
  .nav__display {
    position: absolute;
    left: 40px;
    display: flex;
    ul {
      padding-left: 15px;
      width: 350px;
    }
    li{
      list-style-type: none;
      background: white;
      height: 40px;
      font-size: 1.5rem;
      line-height: 1.65;
      display: flex;
      overflow: auto;
    }
    .nav__display1, .nav__display2{
      li:not(.no-bullet):before{
        content: '>';
        padding-right: 10px;
      }
    }
  }
  
  .nav__menu{
    display: none;
    background: white;
    ul{
      padding-left: 55px;
    }
    ul ul {
      padding-left: 15px;
    }
    li {
      list-style-type: none;
      font-size: 1.5rem;
      line-height: 1.65;
      display: flex;
      flex-direction: column;
      height: inherit;
    }
  }
  
  .tri-bar{
    z-index: 1;
    position: fixed;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    box-sizing: content-box;
    .tri-bar__stripe{
      width: 100%;
      height: 4px;
      background: black;
    }
  }
  
  a{
    color: unset;
  }
}

nav.condense{
  .nav__display0 {
    li[scoot-id] {
      width: 0;
    }
  }
  .nav__display1{
    li[scoot-id]{
      width: 16px;
    }
  }
}

nav.up-top{
  box-shadow: none;
  background: none;
  li{
    background: none;
  }
}

nav.menu-view{
  overflow: auto;
  height: 100vh;
  
  .nav__display{
    display: none;
  }
  .nav__menu{
    display: block;
    position: fixed;
    overflow: auto;
    height: 100vh;
    overscroll-behavior: contain;
    width: 100%;
    
    $breakpoint: 400px;
    max-width: $breakpoint;
    @media (min-width: $breakpoint){
      box-shadow: 1px 2px 2px rgba(197, 197, 197, 0.5411764706);
    }
  }
  
  .tri-bar{
    border: none;
  }
}
