
$palette-red1: #5d0e21;  // crimson red;
$palette-red2: #c3272a;  // regular red;
$palette-white: #f9f7f6;  // almost white
$palette-gray1: #b3b9bd;  // light gray;
$palette-gray2: #464551;  // dark gray;

//bw scale
$bw0: #000; //black
$bw1: #303030;
$bw2: #606060;
$bw3: #909090;
$bw4: #b0b0b0;
$bw5: #d0d0d0;
$bw6: #fff;  // white

//color vars are defined in _normalize.scss
$main-color1: $bw1;
$main-color2: $bw2; 
$main-color3: $bw3;
$main-color4: $bw4;
$main-color5: $bw5;

$breakpoint1: 600px;
$breakpoint2: 900px;
$breakpoint3: 1200px;

:root{
  font-size: 16px;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul, ol{
  padding-left: 20px;
  margin: 0;
}

body, div, span, li, 
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

.pointer:hover{
  cursor: pointer;
}

blockquote{
  position: relative;
}

blockquote:before {
  content: '“';
  position: absolute;
  font-size: 5rem;
  color: gray;
  z-index: -1;
  top: -1.5rem;
  left: -1.5rem;
}

blockquote:after {
  content: '”';
  position: absolute;
  font-size: 5rem;
  color: gray;
  z-index: -1;
  bottom: -3.5rem;
  right: -1.5rem;
}