@import '../global-vars';
header{
  font-size: 0.75rem;
  a, button{
    display: none;
  }
  
  .center{
    max-width: 1200px;
    margin: auto;
  }
  
  .header-top{
    @extend %center-flex;
    padding: 5px 20px;
    height: 60px;
    .left, .right{
      display: flex;
      align-items: center;
    }
    .main-logo{
      height: 25px;
    }
    .right{
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      max-width: 180px;
    }
  }
  .header-bottom {
    color: white;
    background-color: $primary-color;
    padding: 6px 12px;
    .right-arrow{
      color: #ccda3e;
      display: inline-block;
      width: 4px;
      height: 4px;
      border-top: 1px solid #ccda3e;
      border-right: 1px solid #ccda3e;
      transform: rotate(45deg);
      position: relative;
      bottom: 2px;
    }
    .left, .right{
      padding: 5px 0;
    }
  }
  
  @media (min-width: $screen1){ // 600px;
    button{
      display: unset;
    }
    .header-top{
      justify-content: space-between !important;
      .center{
        display: flex;
        justify-content: space-between;
        flex: 1 0 auto;
      }
    }
  }
  @media (min-width: $screen2){ // 900px;
    a {
      display: unset;
    }
    .header-top{
      .right{
        max-width: 350px;
      }
    }
    .header-bottom .center{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .right{
        max-width: 600px;
        margin-left: 50px;
        flex: 1 0 auto;
      }
    }
  }
  
}