

.resume-files-wrap{
  display: none;
  background: black;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  top: -48px;
  left: 125px;
  box-shadow: 1px 1px 1px #b1b1b1;
  a {
    color: white;
    display: block;
    text-align: center;
    width: 100px;
    padding: 5px;
    border-top: 1px solid gray;
  }
  a:first-child{
    border: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  a:last-child{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
.resume-files-wrap:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  transform: rotate(45deg);
  top: 40px; 
  left: -7px;
  z-index: -1;
}
.resume-files-wrap.open{
  display: block;
}
#resume-toggle img{
  height: 1.25rem;
  vertical-align: middle;
}

.check_on_wolfram {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: gray;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 6px #b7b7b7;
}
.check_on_wolfram:active{
  box-shadow: 0px 0px #b7b7b7;
  position: relative;
  top: 6px;
}

#links{
  display: flex;
  align-items: center;
  justify-content: center;
  h3{
    position: absolute;
    top: 0;
    left: 0;
  }
  .links__wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @media(min-width: 800px){
      grid-template-columns: 1fr 1fr;
    }
  }
  .links__item{
    width: 300px;
    font-size: 2rem;
    height: 80px;
    color: white;
    img{
      vertical-align: middle;
      height: 80px;
    }
    span{
      
    }
  }
  .links__item:nth-child(1){ background: #0d76af; }
  .links__item:nth-child(2){ background: black; }
  .links__item:nth-child(3){ background: #40a8f1; }
  .links__item:nth-child(4){ background: #26b758; }
}

.hidden{
  display: none;
}

li#tester{
  display: inline;
}