/* NORMALIZE */
:root {
  font-size: 24px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--link);
  border-bottom: 1px solid var(--link);
}

a:visited {
  border-bottom: 1px solid var(--link-v);
}

a:hover {
  border-bottom: 2px solid var(--link);
}

p {
  margin: 10px 10px;
}
blockquote{
  margin: 20px;
  padding: 20px;
  background-color: #dcdcdb;
  border-radius: 10px;
}

ul{
  list-style: square;
}
li{
  margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/************UI ELEMENTS ************/
.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

/********** COLORS ************/
body {
  --gray1: #565656; --bg-white: #ffffffe6; --link: maroon; --link-v: #565656; }

/************ BUTTON ************/
.section-content > button {
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
  min-width: 250px;
  height: 80px;
  font-size: 1.125rem;
  background-color: gray;
  border-radius: 10px;
  border: 1px solid darkgray;
  color: white;
  cursor: pointer;
  box-shadow: 0px 5px dimgrey;
}

.section-content > button:focus {
  outline: none;
}

.section-content > button:active {
  position: initial;
  box-shadow: 0px 0px dimgrey;
  position: relative;
  bottom: -5px;
}

/************ TOGGLE / CLOSE BUTTON ************/
.toggle, .close {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 11;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle:hover .stripe, .close:hover .stripe {
  background-color: black;
}

.stripe {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: var(--gray1);
  margin: 3px;
}

/******** CLOSE MODE ********/
.close .stripe {
  width: 50px;
  display: none;
  position: absolute;
}

.close .stripe:first-child {
  display: block;
  transform: rotate(45deg);
}

.close .stripe:last-child {
  display: block;
  transform: rotate(-45deg);
}

/*******MENU SECTIOn*********/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  box-shadow: 8px 1px 15px #0000007d;
  z-index: 1
}

nav {
  width: 100%;
  padding-top: 50px;
}

nav a {
  color: var(--gray1);
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 10px;
  box-sizing: border-box;
  border: 0;
}

nav a:visited {
  color: var(--gray1);
}

nav a:hover {
  text-decoration: none;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav a:hover span {
  position: relative;
  bottom: 2px;
}

@media (min-width: 600px) {
  .menu {
    width: 400px;
    height: 100%;
    z-index: 10;
  }
}

/************** MAIN *****************/
section {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: 1px solid #dadada;
  max-width: 1200px;
  margin: auto;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
}

@media (min-width: 900px) {
  section {
    flex-direction: row;
    padding: 20px;
  }
}

/************** SECTION *****************/
h1, h2, h3 {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}

@media (min-width: 900px) {
  section h1, section h2 {
    flex: 0 0 300px;
    text-align: left;
    margin-top: 100px;
  }
}

/************** PROIFLE SECTION *****************/
#profile-pic-wrap {
  width: 300px;
  margin: auto;
}


#profile-pic-wrap img {
  width: 100%;
}

.profile-item-cont {
  clear: both;
  margin: 40px 0;
}
#profile-details{
  width: 400px;
  margin: auto;
}
 
#profile-name {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#profile-name span {
  font-size: 1rem;
  color: gray;
  margin-left: 20px;
}

#profile-links-etc {
  display: flex;
  flex-direction: column;
}

#profile-links-etc a, #profile-links-etc > div {
  flex: 0 0 auto;
  margin-bottom: 5px;
  border-bottom: 0;
  color: var(--link);
  max-width: 400px;
}


@media (min-width: 600px) {
  #profile-pic-wrap {
    width: 300px;
    float: left;
    margin-right: 20px;
  }
  #profile-details{
    margin-left: 300px;
  }
}
  /*************** RESUME BUTTONS *****************/
  #profile-links-etc > #resume-ui-wrap {
    width: 100%;
    max-width: 400px;
    overflow: visible;
    margin: 0;
    height: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;    
  }
  #profile-links-etc > #resume-ui-wrap.active{
    border-top: 1px solid #828282;
    border-bottom: 1px solid #828282;    
  }
  #resume-ui-wrap > div{
    position: absolute;
  }
  #resume-text{
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  #resume-ui-wrap > #resume-btns{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    background-color: #b9b9b9;
    box-shadow: inset 3px 4px 9px 1px #949494;
    box-sizing:border-box;
  }
  #resume-ui-wrap > #resume-btns a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
    line-height: 2;
    margin: 0;
    border-right: 2px solid white;
  }

  #resume-ui-wrap.active #resume-text{
    animation-name: slide-right;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  #resume-ui-wrap #resume-text{
    animation-name: slide-left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes slide-left{
    from{left: calc(100% - 20px)}
    to{left: 0}
  }
  @keyframes slide-right{
    from{left: 0}
    to{left: calc(100% - 20px)}
  }
      

  /*******TECHNICAL PROFILE********/
  .unskilled{
    color: gray;
  }
  .profile-item-cont ul{
    column-count: 2;
  }
  .profile-item-cont li{
    padding-left: 10px;
  }
  .profile-item-cont li::before{
    content: '';
    font-famiily: sans-serif;
    margin: 5px;
  }
  @media (min-width: 600px){
    #tech-profile{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .profile-item-cont ul ul{
      column-count: 2;
    }
  }

  /*******WORK PREF********/
  @media (min-width: 600px){
    #work-pref ul{
      column-count: 2;
    }
  }


/************** FOOTER *****************/
footer {
  background-color: #101012;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-main {
  min-height: 200px;
  align-items: center;
}

footer a {
  flex: 1 1 auto;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border: 0;
  min-width: 250px;
  margin: 20px;
}

footer a:hover {
  border: 0;
}

footer a img {
  height: 100%;
  margin-right: 20px;
}

footer .logo-container{
  height: 50px;
  width: 50px;
}

#github-logo{
  background: url('images/github-logo-white.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#linkedin-logo {
  background: url('images/linkedin-logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#hackerrank-logo {
  background: url('images/hackerrank.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


@media (min-width: 900px) {
  .footer-main {
    display: flex;
    flex-direction: row;
  }
}

/**************POPUP **************/
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
}

.popup.closed {
  display: none;
}

/**************TEMPORARY: SWITCH LATER **************/
nav a {
  font-family: sans-serif;
}

section:nth-child(odd) {
  /*         background-color: #ffdfdf; */
}
