header .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

:root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
}

div,
label {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #385d16;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input, textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
}

header .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

button {
  min-width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #adadad;
  background: unset;
  color: unset;
  cursor: pointer;
}

button:hover {
  background-color: #213a5f;
}

button.blue {
  background-color: #385d16;
  color: white;
}

button.blue:hover {
  background-color: #213a5f;
}

button.white {
  color: black;
  background-color: white;
}

button.white:hover {
  color: white;
  background-color: #213a5f;
}

body.unscroll {
  overflow: hidden;
}

header .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

header {
  font-size: 0.75rem;
}
header a, header button {
  display: none;
}
header .center {
  max-width: 1200px;
  margin: auto;
}
header .header-top {
  padding: 5px 20px;
  height: 60px;
}
header .header-top .left, header .header-top .right {
  display: flex;
  align-items: center;
}
header .header-top .main-logo {
  height: 25px;
}
header .header-top .right {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  max-width: 180px;
}
header .header-bottom {
  color: white;
  background-color: #385d16;
  padding: 6px 12px;
}
header .header-bottom .right-arrow {
  color: #ccda3e;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-top: 1px solid #ccda3e;
  border-right: 1px solid #ccda3e;
  transform: rotate(45deg);
  position: relative;
  bottom: 2px;
}
header .header-bottom .left, header .header-bottom .right {
  padding: 5px 0;
}
@media (min-width: 600px) {
  header button {
    display: unset;
  }
  header .header-top {
    justify-content: space-between !important;
  }
  header .header-top .center {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
  }
}
@media (min-width: 900px) {
  header a {
    display: unset;
  }
  header .header-top .right {
    max-width: 350px;
  }
  header .header-bottom .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-bottom .center .right {
    max-width: 600px;
    margin-left: 50px;
    flex: 1 0 auto;
  }
}

header .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

footer {
  background: #fcfcfa;
  padding: 20px;
  line-height: 2;
  font-size: 0.75rem;
  border-top: 1px solid #e6ebee;
}
footer .center {
  max-width: 1200px;
  margin: auto;
  display: grid;
  background: #e6ebee;
  grid-gap: 1px 0;
}
footer .footer-section {
  background: #fcfcfa;
  padding: 10px 0;
}
footer .footer-section h2 {
  font-size: 1.125rem;
  font-size: 1.25rem;
}
footer .copyright {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  color: #385d16;
}
footer .social-link-icons {
  display: flex;
  width: 135px;
  justify-content: space-between;
}
footer .social-link-icons a {
  justify-content: center;
  align-items: center;
  display: flex;
  background: #385d16;
  padding: 5px;
}
footer .social-link-icons a:hover {
  background: #213a5f;
}
footer .social-link-icons img {
  width: 20px;
  height: 20px;
}
footer .center {
  grid-template-columns: 1fr;
}
@media (min-width: 600px) {
  footer .copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  footer .center {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .center section:first-child {
    grid-column: span 1;
  }
  footer .center section:first-child .footer-links {
    column-count: 1;
  }
  footer .center .copyright {
    grid-column: span 3;
  }
}

header .header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.search-bar-wrap {
  border: 1px solid white;
  min-height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1rem;
  background: white;
}
.search-bar-wrap .drop-down-wrap, .search-bar-wrap .search-bar {
  display: flex;
  height: 40px;
}
.search-bar-wrap .drop-down-wrap {
  align-items: center;
}
.search-bar-wrap .drop-down, .search-bar-wrap .search-input, .search-bar-wrap .search-btn {
  padding: 10px;
}
.search-bar-wrap .drop-down-wrap {
  background: #385d16;
  border-bottom: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (min-width: 600px) {
  .search-bar-wrap .drop-down-wrap {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}
.search-bar-wrap .drop-down-wrap:hover, .search-bar-wrap .search-btn:hover {
  background-color: #213a5f;
  cursor: pointer;
}
.search-bar-wrap .search-btn {
  border-bottom-right-radius: 5px;
  background: white;
}
@media (min-width: 600px) {
  .search-bar-wrap .search-btn {
    border-top-right-radius: 5px;
  }
}
.search-bar-wrap .drop-down {
  flex: 1 0 180px;
  cursor: pointer;
}
.search-bar-wrap .drop-down-arrow {
  cursor: pointer;
}
.search-bar-wrap .drop-down-menu.hide {
  display: none;
}
.search-bar-wrap .drop-down-menu {
  display: grid;
  position: absolute;
  top: -1px;
  background: #e6ebee;
  border: 1px solid #e6ebee;
  left: 0;
  width: calc(100% + 38px);
  z-index: 2;
  row-gap: 1px;
  box-shadow: 1px 1px 2px #9c9c9c6b;
}
.search-bar-wrap .drop-down-menu .item {
  color: black;
  background: white;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.search-bar-wrap .drop-down-menu .item.selected:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 10px;
  border-left: 2px solid green;
  right: 15px;
  border-bottom: 2px solid green;
  transform: rotate(-45deg);
}
.search-bar-wrap .drop-down-menu .item:hover {
  background: #e6ebee;
}
.search-bar-wrap .drop-down-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  position: relative;
  display: inline-block;
  margin: 0 14px;
}
.search-bar-wrap .search-input {
  background: white;
  flex: 1 0 200px;
  font-size: 1rem;
  border: 0;
  height: 20px;
  border-bottom-left-radius: 5px;
}
@media (min-width: 600px) {
  .search-bar-wrap .search-input {
    border-bottom-left-radius: 0px;
  }
}
.search-bar-wrap .search-btn {
  background: #385d16;
}
.search-bar-wrap .search-btn img {
  display: inline-block;
  height: 20px;
}
.search-bar-wrap .search-btn .text {
  display: none;
}
@media (min-width: 900px) {
  .search-bar-wrap .search-btn img {
    display: none;
  }
  .search-bar-wrap .search-btn .text {
    display: unset;
  }
}
@media (min-width: 600px) {
  .search-bar-wrap {
    flex-direction: row;
  }
  .search-bar-wrap .drop-down-wrap {
    border: 0;
    flex: 0 0 250px;
  }
  .search-bar-wrap .search-bar {
    flex: 1 1 auto;
  }
}

/*# sourceMappingURL=main.css.map */
