// Write things such as border radius of buttons and stuff


$main-blue: #39629e;  // nav bar, links, button
$light-blue: #a3bbbc; // Person's summary "iOS expert, full-stack, New York"
$dark-blue: #213a5f;  // When link is active or something
$main-gray: #505050;  // body font color
$light-gray: #e6ebee; // border colors
$bg-gray: #fcfcfa;
$box-shadow: 1px 1px 5px #9696968f;

$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 15px;


$primary-color: $main-blue;
$secondary-color: $light-blue;
$font-color: $main-gray;
$border-color: $light-gray;

$screen0: 300px;
$screen1: 600px;
$screen2: 900px;
$screen3: 1200px;
$screen4: 1500px;

$font-stack: Arial, Helvetica, sans-serif;

%center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none !important;
}