div#options {
    position: absolute;
    background: #eee;
    height: 100%;
    top: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.phoneme-to-test {
    display: inline-block;
    width: 80px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    line-height: 2;
    float: left;
    margin: 3px;
}
#panel-toggle {
    z-index: 200;
    position: absolute;
}
div#options {
    width: 300px;
    padding-top: 100px;
    z-index: 199;
	display: none;
	border-right: 1px solid silver;
    box-shadow: 3px 0px 2px 2px rgba(150,150,150,0.8);
}
#options .button{
	display: block;
	clear: both;
}
/*---------------------*/
div#cards {
    margin: 10px;
}

.word-card {
    border: 1px solid black;
    text-align: center;
    width: 550px;
    margin: auto;
    min-height: 300px;
    font-size: 6em;
    border-radius: 5px;
    padding: 20px 0px;
}

.phoneme {
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    padding: 0px 30px;
}
#options .button, #panel-toggle{
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    width: 150px;
    text-align: center;
}

#controls .button {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
    width: 150px;
    text-align: center;
}

.phoneme.button{
	background: #ccc;
}

.button:hover, .phoneme-to-test:hover{
	cursor: pointer;
	background: #aaa;
}

.selected{
	background: #aaa;
}

div#controls {
    vertical-align: top;
    text-align: center;
}

.magic-e-section {
    font-size: 0.5em;
    margin-top: 10px;
    border-top: 2px dashed;
    padding-top: 10px;
}

.magic-e-section span {
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 5px;
}