@import 'global-vars';


:root{
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: $font-stack;
  color: $font-color;
}

div,
label{
  position: relative;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

input, textarea{
  border-radius: 0;
  -webkit-border-radius: 0;
}
