<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="jquery/jquery-3.1.0.js"></script>
  <script src="js/sections/profile.js"></script>
  <link rel="stylesheet" href="css/sections/profile.css">
</head>

<body>
  <div class="sections">
    <div class="section" id="profile">
      <div class="profile-positioner">
        <div class="lid">
          <div class="profile-pic-wrap">
            <img src="images/profile-pic.jpg" alt="Handsome guy">
          </div>
          <ul>
            <li>Jai Ko</li>
            <li>English || Korean</li>
            <li>Resume<img src="images/link.png" alt="link icon"></li>
            <li>just.jai.ko@gmail.com</li>
            <li>+1.425.220.5899</li>
          </ul>
        </div>
        <div class="innard">
          <div class="item" id="profile-item1">
            <ul>
              <li>Junior / entry level</li>
              <li>Web Development</li>
              <li>Part-time / full-time / contract</li>
              <li>Front-end / back-end / full-stack</li>
              <li>Entry / junior level</li>
              <li>Greater Seattle area</li>
              <li>Remote OK</li>
              <li>US Citizen</li>
              <li>Work eligible in Korea</li>
            </ul>
          </div>
          <div class="item" id="profile-item2">
            <p>
              <strong>Ideal job</strong> Job in which I know I am making a 
              positive impact on this world.
            </p>
            <p>
              <strong>Reason for coding</strong> It's like solving a puzzle or 
              playing a strategy game. In situations where the solution set can 
              seem infinitely big, one can arrive at the correct one (or at least 
              the optimal one) by breaking down the problem, logically reconnecting 
              the pieces. I like that.
            </p>
          </div>
          <div class="item" id="profile-item3">
            <p>
              <strong>Strengths & weaknesses & remedy</strong> During the course 
              of weeks or months, I had periods in which I was super productive. 
              Of course the downside of this is it sometimes led to a period of 
              low productivity. I found that coming up with a strict schedule to 
              abide by and maximizing my break and relaxation was the key to 
              maintaining productivity homeostasis.
            </p>
          </div>
          <div class="item"id="profile-item4">
            <p>
              <strong>Current project</strong> Rebuilding Steps Education from ground up with Vue, and other more modern frameworks and tools;
            </p>

            <p>
              <strong>Interests</strong> Technology, business, politics, education, environments
            </p>

            <p>
              <strong>Hobbies</strong> Solving puzzles, Vainglory, keeping up with current events (especially about my interests), walking dog, running, and spending time with friends and family
            </p>
          </div>
        </div>
        <div class="right-curtain"></div>
      </div>
      <div class="profile-nav">
        <button class="prev round-button left-arrow"></button>
        <button class="next round-button right-arrow"></button>
      </div>
    </div>
  </div>
</body>

</html>
