<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
<script src="jquery/jquery-3.1.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/nav.js"></script>
<link rel="stylesheet" href="css/components/nav.css">
<div class="pages">
  <div class="page">Home</div>
  <div class="page">About Me</div>
  <div class="page">My Story</div>
  <div class="page">Portfolio</div>
  <div class="page">Links</div>
</div>