table{
	margin: auto;
	background: white;
}
tr:nth-child(1){
background: gray;
color: white;
font-weight: bolder;
font-size: 1.2em;
border-bottom: 3px solid black;
}

td:nth-child(2n - 1){
border-right: 1px solid black;
}
td {
text-align: center;
height: 40px;
line-height: 40px;
}

th{
width: 170px;
}