:root{
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
}

body, pre{
  margin: 0;
}
div{
  position: relative;
  box-sizing: border-box;
}

h1{
  margin: auto;
  text-align: center;
}

#app{
  border: 1px solid gray;
  width: 800px;
  margin: auto;
  min-height: 600px;
  
  .dropdowns{
    display: flex;
    z-index: 10;
    padding: 10px;
    .algo-list-wrap, .sample-inputs-wrap{
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      
      .label{
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .algo-list, .sample-inputs{
        // functionality
        display: none;
        &.active{display: flex;}
        
        
        
        // aesthetics
        flex-direction: column;
        position: absolute;
        top: 45px;
        left: -1px;
        width: 150px;
        
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        .item{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 40px;
        }
      }
    }
  }
  .tabs{
    display: flex;
    z-index: 1;
    .tab{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      min-width: 150px;
      height: 40px;
      
      background: gray;
      &.active{
        background: white;
        border: 1px solid black;
        border-bottom-width: 0;
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          border-bottom: 1px solid white;
          bottom: -1px;
        }
      }
    }
  }
  
  .content{
    border-top: 1px solid gray;
    padding: 20px;
    
    > div{
      display: none;
      &.active{
        display: block;
      }
    }
    pre{
      background: #1d1d1d;
      color: lightgray;
      padding: 10px;
      border-radius: 5px;
    }
    .input-wrapper{
      display: flex;
      justify-content: space-between;
      .input{
        font-family: monospace;
        span.arg-span {
          background: gray;
          padding: 2px;
          border-radius: 5px;
          margin-right: 6px;
          &:hover{
            background: #bfbfbf;
            cursor: pointer;
          }
        }
      }
      .run-algo{
        background: green;
        width: 1.5rem;
        height: 1.5rem;
        flex: 0 0 auto;
        border-radius: 4px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        line-height: 0;
        font-size: 0.8rem;
      }
    }
    
    .arg-wrap{
      display: flex;
      font-family: monospace;
      margin-bottom: 10px;
      
      label{
        padding: 10px 0;
        width: 120px;
        &.requiredArg::after{
          content: '*';
          color: gray;
        }
      }
      
      .colon{
        padding: 10px ;
        width: 5px;
      }
      textarea {
        // can fit 81 chars/line
        padding: 10px;
        background: #1d1d1d;
        border-radius: 5px;
        color: lightgray;
        resize: none;
        width: calc(100% - 145px);
        height: 1rem;
        max-height: 20rem;
      }
    }
    .output-wrap{
      padding: 10px;
      background: #1d1d1d;
      border-radius: 5px;
      color: lightgray;
      resize: none;
      min-height: 20rem;
    }
  }
}
